Emails rejected: 554-Reject due to policy restrictions

Hi, since a few days the mail-server of ionos.de (1und1.de) rejects my emails sent from the email-addon. 
```
**_> Bounce message or log excerpts
> =====================================================================
> 
> user.err email: msmtp: the server did not accept the mail msmtp: 
> server message: 554-Transaction failed msmtp: server message: 
> 554-Reject due to policy restrictions. msmtp: server message: 554 For 
> explanation visit 
> https://www.ionos.com/help/index.php?id=2425&ip=178.191.40.30&c=hd 
> msmtp: could not send mail (account default from 
> /etc/config/addons/email/msmtp.conf)_
```

Until then everything worked fine.
I opened a ticket at ionos.de and the answer is:

> vielen Dank für Ihre Anfrage zum E-Mail Versand.
> Die E-Mail wurde von unserem SMTP-Server abgelehnt, weil diese nicht die definierten Standards aus RFC5321 und RFC5322 einhält.
> Es muss sichergestellt sein, dass der verwendete E-Mail Client folgende Kriterien zum Mailversand erfüllt:
> 1. Die Kopfzeilen der E-Mail muss einen validen "Date:"-Eintrag nach RFC2822 beinhalten: https://tools.ietf.org/html/rfc2822#section-3.3
> 2. Die folgenden Feldtypen dürfen nur einmal vorhanden sein: "Date:", "From:", "Sender:", "To:", "CC:", "Subject:"
> 3. Werden die oben genannten Feldtypen verwendet, dürfen diese nicht leer sein und müssen syntaktisch korrekt sein.
> Hinweis: Die Feldtypen To und CC können selbstverständlich mehrere Empfänger enthalten.
> Wir halten uns an die Empfehlungen aus RFC7103 und führen keine automatische Korrektur fehlerhafter Nachrichten durch, weil hierdurch DKIM-Signaturen ungültig werden. 
> Bitte entschuldigen Sie die entstandenen Unannehmlichkeiten.
> Freundliche Grüße
> 
> IONOS Kundenservice
> 1&1 IONOS SE
> Elgendorfer Str. 57
> 56410 Montabaur


Can you please post/send in an example mail your MSMTP tries to send via your ionos/gmx server? Here I quickly checked the raw email content and compared it to the information ionos provided in their answer and I couldn't identify and header field that might violate their rules.

Hi,

attached an email that worked fine (in February 2020) and exactly the same mail (I did not change anything in the email-addon)  now is refused.

Please, keep infos confidential since it should be in the original status.

Thanks,

Volker

 

 

Von: Jens Maus [mailto:notifications@github.com] 
Gesendet: Mittwoch, 22. April 2020 10:47
An: jens-maus/hm_email
Cc: wagner4u; Author
Betreff: Re: [jens-maus/hm_email] Emails rejected: 554-Reject due to policy restrictions (#13)

 

Can you please post/send in an example mail your MSMTP tries to send via your ionos/gmx server? Here I quickly checked the raw email content and compared it to the information ionos provided in their answer and I couldn't identify and header field that might violate their rules.

—
You are receiving this because you authored the thread.
Reply to this email directly, view <https://github.com/jens-maus/hm_email/issues/13#issuecomment-617642030>  it on GitHub, or unsubscribe <https://github.com/notifications/unsubscribe-auth/AGCHCSP4U2SOUKRJXYLWJLTRN2VGRANCNFSM4MML73DQ> .Das Bild wurde vom Absender entfernt.



Hi, one additional information regarding this problem:
The problem only occurs with the RasperryMatic-Version 1.6.8.c (in a Charly environment).
I have another original CCU3 with the same Addon-Version (version 1.6.8c). From this CCU3 it works still fine via the same account at ionos.de and same ionos.de-Server.
So, the problem should be in the RaspberryMatic-Version of the Email-Addon although it is the same version. Don't know what it means, but hopefully this info helps.
wagner4u

@wagner4u Sorry, but you still didn't attach a raw email MSMTP tries to send through gmx/ionos. Please don't reply to github emails, but use the github ticket webinterface to upload the raw email for further inspection.

And of course, strip any confidential information before uploading it here.


[Batterienstatus in Homematic Spitzenbach 9a.zip](https://github.com/jens-maus/hm_email/files/4534910/Batterienstatus.in.Homematic.Spitzenbach.9a.zip)
Sorry, hopefully this worked.
wagner4u

@wagner4u Nope, you simply exported it in Outlook format (CDFV2 Microsoft Outlook Message). I need of course the raw email msmtp or the email addon is creating and trying to send via the ionos mail server and not any email (and especially not in outlook format!) you received.

Hi,
I found the problem !
Sorry, but I did not understand how to get the raw email while the addon tries to send it.
anyway:
The problem is simply, that since some days/weeks the provider does not accept two or more adresses in 'To:' separated by semicolon but only separated by  comma !
Perhaps this does not anymore comply with the RFCs ??
I changed it and now it works. It worked with my other CCU3 since in this addon I only use one adress.
So simple.
In the email addon manual (http://192.168.xx.yy/addons/email/anleitung/) it says to separate several adresses by semicolon. This should be changed. 
That's it. 
Could you add this to the manual ? I will close the issue.
Thanks for your support.
wagner4u

Dear all,

with answer #14 I will check, if WEB.DE is behaving like IONOS.DE.

If it does not I will come back with results.

BTW: how can one intercept the mail sent from msmtp? As soon it is generated either it is sent - and therefor is deleted from the queue, or it is marked unsuccessful and I have no clue what happens then.

Kind regards,

Alexander De Bernardi

Today I fixed continously refused sending via IONOS from default postfix under macOS Monterey giving:

```
[...] delivery via smtp.ionos.de[213.165.67.113]:587: host
    smtp.ionos.de[213.165.67.113] said: 554-Transaction failed 554-Reject due
    to policy restrictions. 554 For explanation visit
    https://postmaster.1und1.de/de/case?c=hi&i=ip&v=[...] (in reply to
    end of DATA command)
```

#### Solution

Changing my macOS full username in systempreferences to the version without `ß` Umlaut and replaced the `ß` with `ss`. After that mail send was not rejected by the ``smtp.ionos.de`` server anymore.

#### Remark: 

In the ``/etc/postfix/main.cf`` lives an additional entry ``smtputf8_enable = no``

Maybe the issue correlates with this or was actually caused by this. needs further testing...